<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>resumeServlet</servlet-name>
        <servlet-class>ru.javawebinar.basejava.web.ResumeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resumeServlet</servlet-name>
        <url-pattern>/resume</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>multSectionServlet</servlet-name>
        <servlet-class>ru.javawebinar.basejava.web.MultipleSectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>multSectionServlet</servlet-name>
        <url-pattern>/resume/mult_section</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>expSectionRecordServlet</servlet-name>
        <servlet-class>ru.javawebinar.basejava.web.ExperienceSectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>expSectionRecordServlet</servlet-name>
        <url-pattern>/resume/exp_section</url-pattern>
    </servlet-mapping>
</web-app>